*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    color: #fff;
    background-color: #864f9c;
    height: 400px;
    
}
li{
    display: inline;
    float: right;
    margin: 20px;
    
}
li a:hover{
background-color: rgba(0, 0, 0, 0.446);
border-radius: 20%;
}

.col-6-logo-part{
    width: 60%;
    float: left;
    display: block;
    margin: 10px;
}

li a{
    color: #fff;
padding: 0px;
text-decoration: none;
font-weight: bold;
}
/* img{
    display: block;
} */
.row-2{
    width: 100%;
    float: left;
    text-align: center;
    padding: 100px 150px;
}

.row-3{
  padding: 0px 0px;
  border: 0px;
}


.row-2 h1{
    text-align: center;
}
button{
    background-color: #eb7d4b;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #fff;
    margin: 50px;
    

}
/* head section end  */




/* main section start  */
main{
    height: 481px;
    background-color: #16c2a3;
    text-align: center;
    color: #fff;
    
}

.underline {
    border-top: 5px solid #0000004c;
    width: 7% !important;
    margin: 15px auto !important;
  }


  .row-4{
    width: 100%;
    float: left;
    display: inline;
    text-align: center;
    
  }
  .col-3{
    float: left;
    padding: 50px;
  }



  section{
    background-color: #e7f1f8;
    text-align: center;
  }












  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;